body {
  overflow: hidden;
}

.event-list {
  background-color: #f2f0ff;
  padding-top: 4rem;
  height: 100vh;
  overflow-y: auto;
  position: absolute;
}

.event-details {
  height: 100vh;
  overflow-y: auto;
  position: absolute;

  .padding-top-4rem {
    padding-top: 4rem;
  }

  .options {
    padding: 0.3rem;
    background-color: #f4f4f4;
    border: 1px solid #a29393;
    border-radius: 0.2rem;
    margin-bottom: 0.75rem;
  }

  .label {
    font-weight: bold;
  }

  .attendance-counter {
    border: 1px solid lightgrey;
    display: inline-block;
    border-radius: 0.25rem;

    div {
      display: inline-block;
    }

    .value {
      min-width: 4rem;
      padding: 0 0.5rem 0 0.5rem;

      span {
        position: relative;
        top: 0.15rem;
      }
    }

    .attend-button {
      padding: 0;
    }
  }

  .map-row {
    min-height: 50vh;
  }

  .list-icon {
    margin-top: -4rem;
    font-size: 12rem;
  }

  @media (max-width: 576px) {
    padding-top: 1rem;
  }
}

@media (max-width: 576px) {
  body {
    overflow: auto;
  }

  .event-list {
    height: auto;
    position: relative;
  }

  .event-details {
    height: auto;
    position: relative;
  }
}

.cursor-pointer {
  cursor: pointer;
}
