.navigation-group {
  position: absolute !important;
  z-index: 1035;

  &.top-left {
    top: 1rem;
    left: 1rem;

    @media (max-width: 576px) {
      top: 3.5rem;
    }
  }

  &.top-right {
    top: 1rem;
    right: 1rem;
  }

  &.input-group {
    width: auto;
  }
}

.search-criteria {
  display: block;
  position: absolute;
  z-index: 1035;
  top: 3.6rem;
  left: 1rem;
  background-color: white;
  width: calc(100vw - 2rem);
  padding: 0.75rem;
  border-radius: 0.3rem;
  border: 1px solid #ced4da;

  &.hidden {
    display: none;
  }

  @media (max-width: 576px) {
    top: 6.2rem;
  }
}
