.notification-area {
  position: absolute;
  overflow: hidden;
  height: 21.75rem;
  z-index: 1036;
  top: 10vh;
  right: 1vw;
  min-width: 21.75rem;
  pointer-events: none;

  @media (max-width: 576px) {
    width: auto;
    right: 1vw;
    top: 14vh;
    height: 21.75rem;
  }
}

.toast {
  z-index: 1037;
  pointer-events: all;
}
